[Unit]
Description=Prometheus Postgres Exporter Server

[Service]
User={{ prometheus_postgres_system_user }}
Environment="DATA_SOURCE_NAME={{ prometheus_postgres_data_source_name }}"
ExecStart=/opt/prometheus/postgres_exporter/postgres_exporter \
    --extend.query-path /etc/prometheus/postgres-queries.yml \
    --web.listen-address :{{ prometheus_postgres_port }}

[Install]
WantedBy=multi-user.target
