[Unit]
Description=Prometheus Postgres Exporter Server

[Service]
User={{ prometheus_postgres_system_user }}
Group={{ prometheus_postgres_system_group }}
Environment="DATA_SOURCE_NAME={{ prometheus_postgres_data_source_name }}"
ExecStart=/opt/prometheus/postgres_exporter/postgres_exporter \
    --extend.query-path /etc/prometheus/postgres-queries.yml \
    {% if prometheus_postgres_tls_server_config %}
    --web.config.file={{ prometheus_postgres_web_config }} \
    {% endif %}
    {% for collector in prometheus_postgres_enabled_collectors %}
    --collector.{{ collector }} \
    {% endfor %}
    --web.listen-address :{{ prometheus_postgres_port }}

[Install]
WantedBy=multi-user.target
